#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  umami-app.service
BindsTo=umami.service
After=umami.service postgresql-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/umami-app.pid %t/umami-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/umami-app.pid \
    --cidfile %t/umami-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/umami.pod-id --replace -d --name  umami-app \
    --env-file=%S/state/umami.env \
    ${UMAMI_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/umami-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP umami-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/umami-app.ctr-id
PIDFile=%t/umami-app.pid
Type=forking

[Install]
WantedBy=default.target
